html,body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    background: #fff;
    color: #000;
}

.white {
    color: #fff !important;
}

.black {
    color: #000 !important;
}

.red {
    color: #ff0000 !important;
}

.bg-white {
    background: #fff;
}

.bg-black {
    background: #000;
}

.dark-overlay-06 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

/* ----------------------NAVBAR------------------------ */
.navbar-top {
    .navbar-brand {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .nav-item.active {
        border-left: #5e5e5e solid 4px;
    }
    .nav-link {
        font-size: 1.25rem;
        text-transform: uppercase;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

/* ===== index.html ======= */
/* ----------------------HOME------------------------ */
/* HOME SHOWCASE SLIDER */
#home-carousel {
    height: 385px;
    .home-slider {
        position: relative;
        min-height: 385px;
        color: #fff;
        text-align: center;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
    }
}

.slider-one {
    background: url(../img/image1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.slider-two {
    background: url(../img/image2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.slider-three {
    background: url(../img/image3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

#home-showcase-slider .owl-theme .owl-dots {
    position: relative;
    top: -2.25rem;
    .owl-dot.active span {
        background: #fff;
        width: 28px;
        transition: all 0.5s;
    }
    .owl-dot span {
        background: #5e5e5e;
        width: 25px;
        height: 3px;
        border-radius: 5px;
        margin-left: 2px !important;
        margin-right: 2px !important;
    }
}
/* HOME SERVICE SECTION */
.services-item {
    border: none;
    .item-icon {
        margin-bottom: 0.75rem;
        i {
            font-size: 3rem;
            padding: 0.5rem;
        }
    }
    .underline-services {
        width: 50%;
        height: 3px;
        background: transparent;
        margin: 0 auto;
    }
}

.services-item:hover {
    color: #aa800c;
    .underline-services {
        background: #b89b4b;
    }
}
/* HOME HEADING SECTION */
#home-heading-section {
    .section-wrapper {
        background: url(../img/lights.jpg) no-repeat fixed;
        background-size: cover;
        background-position: center;
    }
}

/* ----------------------INFORMATION SECTION------------------------ */

/* ----------------------VIDEO PLAY SECTION------------------------ */
.video-play-section {
    .section-wrapper {
        background: url(../img/media.jpg) no-repeat fixed;
        background-size: cover;
        background-position: center;
    }
}
/* ----------------------PHOTO GALLERY SECTION------------------------ */
#photo-gallery-section {
    .photo-item {
        margin: 15px 0;
    }
}
/* ----------------------NEWSLETTER SECTION------------------------ */

/* ---------------------- FOOTER ------------------------ */
.nav-footer {
    flex-direction: column;
    .nav-link {
        padding: 0.5rem 1.5rem 0.5rem 0;
    }
}

/* ===== about.html ======= */
.page-header-wrapper {
    position: relative;
    background: url(../img/image1.jpg) no-repeat fixed;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.page-header-inner {
    max-width: 70%;
    margin: 0 auto;
}

/* ===== contact.html ======= */
.member-img {
    max-width: 180px;
    margin: auto;
    margin-bottom: 1rem;
}
/* ===== RESPONSIVE ======= */
@media (max-width: 575px) {

}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .nav-footer {
        flex-direction: row;
        justify-content: flex-end;
        .nav-link {
            padding: 0.5rem 1rem;
        }
    }
}

@media (min-width: 992px) {
    
}



